section {
  padding-top: 60px;
}

.auth-tab{
  border: 3px #9B7734 groove;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.center-info{
  margin: auto;
  width: 50%
}

.products-sort{
  border-right: 3px #9B7734 ridge; 
}

.product-card{
  border: 2px #959595 outset;
  height: 250px;
  margin: auto;
  overflow: hidden;
}

.card{
  border: 2px #959595 outset;
  height: 450px;
  margin: auto;
  overflow: scroll;
}

.ftr-btn{
  float: right;
}

.btn-cart {
  color: #fff;
  background-color: #0E3386;
  float: right;
  border-color: #CC3433; }

.btn-update{
  color: #fff;
  float: right;
  background-color: red;
  border-color: green 
}

.feature-price{
   /*display: inline-block;*/
   /*float: right;*/
   /*opacity: 0.8;*/
   background: #B69751; 
   /*border-radius: 5px;*/
   /*padding: 3.75px 7.5px;*/
   /*font-size: 10px;*/
   /*color: #fff; */
}

.total-text{
  font-family: arial;
  color: #B69751;
}

.subtotal{
  font-family: arial;
}

tr:nth-child(even) {
    background-color: #4F4F4F;
}

tr.cart-row:nth-child(n) {
    border-bottom: 2px solid #9B7734;
}

.product-show-img{
  line-height: 1.42857;
  padding: 4px;
  max-width: 100%;
  background-color: #262626;
  border: 1px solid #333;
}
.cart-total {
  border: 2px groove #9B7734;
}

.cart-img{
  line-height: 1.42857;
  padding: 4px;
  max-width: 150px;
  background-color: #262626;
  border: 1px solid #333;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
}

.row-border-btm {
  border-bottom: 5px;
}

.carted-product-amount {
  background: #313131
}

.preview-img{
  max-height: 400px;
}

.shadow {
  box-shadow: 0 0 50px rgba(192, 192, 192, 0.4); border-radius: 5px }

.widget {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding: 0 15px; }
  .widget h5 {
    margin-top: 0;
    border-bottom: 1px solid #E7ECEF;
    padding: 15px 0; }
  .widget a {
    color: #FFF;
    font-size: 12px;
    display: inline-block;
    padding: 7.5px 0;
    width: 100%;
    float: left;
    border-bottom: 1px solid #E7ECEF;
    transition: all 300ms ease-in-out; }
    .widget a:hover {
      color: #B69751; }
  .widget .ti-close {
    opacity: 0;
    transition: opacity 300ms ease-in-out; }
  .widget-active {
    color: #B69751 !important; }
    .widget-active .ti-close {
      opacity: 1; }
  .widget-color-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    border-radius: 50%;
    position: relative;
    top: -2px; }
  .widget-category-number {
    display: inline-block;
    float: right;
    opacity: 0.8;
    background: #B69751;
    border-radius: 5px;
    padding: 3.75px 7.5px;
    font-size: 10px;
    color: #fff; }

.float-right{
  float: right;
}